.VerticalMenu-filterOptions {
  margin-top: 28px;
  list-style-type: none;
  padding-left: 0px;
}

.VerticalMenu-filterOptions li {
  margin-bottom: 15px;
  cursor: pointer;
}

.VerticalMenu-filterOptionsIcon {
  color: #546E7A;
  font-size: 1.2em;
  margin-right: 18px;
}

.VerticalMenu-filterOptionsText {
  color: #546E7A;
  font-weight: 500;
}

.VerticalMenu-filterOptionsActive {
  color: #53EBF4;
}