.container {
  display: grid;
  grid-template-columns: 1fr 7fr;
  height: 91vh;
}

.ProgressBar {
  margin-left: 20px;
  margin-right: 80px;
  margin-bottom: 40px;
}

.AppMessageInfo{
  margin-left: 20px;
}

.Loader {
  justify-content: center;
}
