.TodoItem {
  margin-bottom: 10px;
  max-width: 800px;
}

.TodoItemContainer {
  display: flex;
  align-items: center;
}

.TodoItemRadio {
  color: #E5E5E5;
  margin-right: 13px;
  font-size: 1.8em;
  cursor: pointer;
}

.TodoItemText {
  color: #424445;
  vertical-align: middle;
}

.TodoItemTextCompleted {
  color: #BFC2C3;
}

.TodoItemDelete {
  color: #ABACAD;
  margin-left: auto;
  cursor: pointer;
}

.TodoItemLine {
  border: 0;
  border-top: 1px solid #E5E5E5;
  margin-left: 40px;
}